
<html>
  <head>
    <style type="text/css">
      body {
        background-color: <%= back_color %>
      }
    </style>
  </head>
  <body>
    <form method='POST'>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!'/>
    </form>

    <% if !message.empty? %>
    <p>
       <%= message %>
    </p>
    <% end %>

    <p style="color: grey">
      The number is <%= number %>
    </p> 
   
    
  </body>
</html>